.header{
    background-color: darkred;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: small;
}

 .asterisk{
     color: red
 }
table,td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #FFFFDD;
    padding: 2px;
}
*{
    font-family: Arial;
    font-size: small;
}

